/*Global*/
html, body{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*Alinhamentos*/
header, main, footer{
    text-align: center;
}

header, .form, main{
    margin:0 auto 50px;
    width: 90%;
    max-width: 500px;
}

/*Header*/
header h1, main h2{
    margin-bottom: 70px;
}

header button{
    padding: 8px 16px;
    border-radius: 4px;
    background: #fff;
}

/*Formulario*/
section.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
}

form input, form button{
    width: 100%;
    box-sizing: border-box; /*Impede que o padding faça o widht exceder os 100% (que seria o padrão)*/
    margin-bottom: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid red;
    background: #fff;
}

form .type-blood{
    display: flex;
    justify-content: space-between
}

form .type-blood select{
    width: 50px;
}

/*Ultimos doadores*/
main .donors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*divide de modo flexível os espaços*/
}

/*Footer*/
footer {
    margin-top: auto;
}
